@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<AkademiPlus_Transportation.Models.TblCustomer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Müşteriler Listesi</h2>

<table class="table table-bordered" style="margin-top:50px;">
    <tr>
        <th>#</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerID</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerSurname</td>
            <td>@item.CustomerCity</td>
            <td><a href="/Customer/DeleteCustomer/@item.CustomerID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Customer/UpdateCustomer/@item.CustomerID" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Customer/AddCustomer/" class="btn btn-info">Yeni Kategori Girişi</a>