@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<AkademiPlus_Transportation.Models.TblEmployee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Personeller Listesi</h2>

<table class="table table-bordered" style="margin-top:50px;">
    <tr>
        <th>Personel ID</th>
        <th>Resim</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var employees in Model)
    {
        <tr>
            <td>@employees.EmployeeID</td>
            <td><img src="@employees.EmployeeImage" style="width: 80px; height: 80px;" /></td>
            <td>@employees.EmployeeName</td>
            <td>@employees.EmployeeSurname</td>
            <td><a href="/Employee/DeleteEmployee/@employees.EmployeeID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Employee/UpdateEmployee/@employees.EmployeeID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Employee/AddEmployee/" class="btn btn-primary">Yeni Personel Ekle</a>